<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Enekas Edalat &mdash; <%- defineContent('title') || 'موسسه حقوقی انعکاس عدالت'  %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-rtl.min.css" />    
    <link rel="stylesheet" href="/css/vazir.css">
    <% if(req.getLocale() == 'fa') { %> 
      <link rel="stylesheet" href="/css/home.css">
    <% } else if(req.getLocale() == 'en') { %> 
      <link rel="stylesheet" href="/css/home-en.css">    
    <% } %>
    <%- style %>
</head>
<body>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/"><%= __('title') %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">صفحه اصلی</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/courses">دوره ها</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about-me">درباره ما</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                    <% if(req.getLocale() == 'fa') { %> 
                      <li><a class="btn btn-info btn-sm ml-2" href="/lang/en">نمایش ورژن انگلیسی</a></li>
                    <% } else if(req.getLocale() == 'en') { %> 
                      <li><a class="btn btn-info btn-sm ml-2" href="/lang/fa">نمایش ورژن فارسی</a></li>
                    <% } %>
                    <% if(auth.check) { %>
                      <li><a class="btn btn-success btn-sm ml-2" href="/user/panel">پنل کاربری</a></li>
                      <li><a class="btn btn-danger btn-sm" href="/logout">خروج</a></li>       
                    <% } else { %>
                      <li><a class="btn btn-success btn-sm ml-2" href="/auth/login">ورود</a></li>
                      <li><a class="btn btn-primary btn-sm" href="/auth/register">عضویت</a></li>       
                    <% } %>
              </ul>
            </div>
        </div>
      </nav>

    <div class="container mt-4">
    </div>
    
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
    <% let sweetalert = req.flash('sweetalert')
        if(sweetalert.length) {
          let data = sweetalert[0]; %>
          <script>
            Swal({
              title: '<%= data.title %>',
              text: '<%= data.message %>',
              type: '<%= data.type %>',
              showConfirmButton: <%= data.button !== null ? true : false %>,
              confirmButtonText: '<%= data.button %>',
              timer : <%= data.button !== null ? 'null' : data.timer %>,
            })
          </script>
    <% } %>
    <%- script %>
</body>
</html>
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
    <!-- 
    More Templates Visit ==> ProBootstrap.com
    Free Template by ProBootstrap.com under the License Creative Commons 3.0 ==> (probootstrap.com/license)

    IMPORTANT: You can do whatever you want with this template but you need to keep the footer link back to ProBootstrap.com
    -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Enekas Edalat &mdash; <%- defineContent('title') || 'موسسه حقوقی انعکاس عدالت'  %></title>
		<meta name="description" content="Free Bootstrap 4 Theme by ProBootstrap.com">
		<meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400" rel="stylesheet">

		<link rel="stylesheet" href="assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="assets/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/law-icons/font/flaticon.css">

    <link rel="stylesheet" href="assets/fonts/fontawesome/css/font-awesome.min.css">
    
    
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/slick-theme.css">

    <link rel="stylesheet" href="assets/css/helpers.css">
    <link rel="stylesheet" href="assets/css/style.css">
	</head>
	<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">
    
    <nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar">
      <div class="container">
        <a class="navbar-brand" href="/"><%= __('title') %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="ion-navicon"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="probootstrap-navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#section-home"><%= __('home.name') %></a></li>
            <li class="nav-item"><a class="nav-link" href="#section-about"><%= __('about.name') %></a></li>
            <li class="nav-item"><a class="nav-link" href="#section-why-us">Why</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-practicing-areas">Practicing Areas</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-attorneys">Attorneys</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-testimonials">Testimonials</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

    <%- body %>

    <footer class="pb_footer bg-light" role="contentinfo">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <p class="pb_font-14">&copy; 2017 <a href="https://themewagon.com/themes/free-bootstrap-4-law-firm-template-download/">Law</a>. Designed by <a rel="nofollow" href="https://probootstrap.com/" target="_blank">ProBootstrap</a>
        <br/> Distributed by <a href="https://themewagon.com" target="_blank">Themewagon</a> Demo Images: <a rel="nofollow" href="https://unsplash.com/" target="_blank">Unsplash</a></p>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- loader -->
    <div id="pb_loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#FDA04F"/></svg></div>


    <script src="assets/js/jquery.min.js"></script>
    
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slick.min.js"></script>

    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/jquery.easing.1.3.js"></script>

    <script src="assets/js/main.js"></script>
	</body>
</html>